<div class="container">
  <div class="oferta" *ngIf="oferta !== undefined">
    <div class="row">
      <div class="col">
        <h4>{{ oferta.titulo }}.</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="img_capa">
          <img [src]="oferta.imagens[0].url" />
        </div>

        <div class="thumbnails">
          <img *ngFor="let img of oferta.imagens" [src]="img.url" />
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col text-center">
            <p>Por apenas</p>
          </div>
        </div>

        <div class="row">
          <div class="col text-center">
            <h1>{{ oferta.valor }}</h1>
          </div>
        </div>

        <div class="row">
          <div class="col text-center">
            <button type="button" class="btn btn-warning btn-lg">
              Adicionar ao carrinho
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <tabset>
        <tab>
          <ng-template tabHeading>
            <a class="routing_link" routerLink="como-usar">Como usar</a>
          </ng-template>
        </tab>
        <tab>
          <ng-template tabHeading>
            <a class="routing_link" routerLink="onde-fica">Onde fica</a>
          </ng-template>
        </tab>
      </tabset>
      <div class="tab-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <br /><br />
</div>
