<div class="fixed-top">
  <nav class="navbar navbar-dark bg-light">
    <div class="container">
      <a [routerLink]="['']" class="navbar-brand">
        <img src="/assets/logo.png" />
      </a>
      <a a href="#"><img src="/assets/carrinho.png" /></a>
    </div>
  </nav>

  <div class="menu">
    <div class="container">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/restaurantes']" routerLinkActive="active" >Restaurantes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/diversao']" routerLinkActive="active">Diversão</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="banner">
  <img src="/assets/banners/img_1.jpg" />
</div>