<div class="container">
  <div class="secao">
    <h3 class="text-center">
      Rodízios, Buffet, Carnes Especiais, Feijoada e mais!
    </h3>
    <h5 class="text-center">Conheça as melhores ofertas de restaurantes:</h5>
  </div>

  <hr />

  <div *ngFor="let oferta of ofertas" style="margin-bottom: 20px;">
    <div class="row">
      <div class="col-md-4">
        <img [src]="oferta.imagens[0].url" class="img-fluid"/>
      </div>

      <div class="col-md-8">
        <div class="row">
          <h4>{{ oferta.titulo }}</h4>
        </div>

        <div class="row">
          <h5>{{ oferta.descricao_oferta }}</h5>
        </div>

        <div class="row">
          <p>
            Anunciado por: <b>{{ oferta.anunciante }}</b>
          </p>
        </div>

        <div class="row">
          <p>{{ oferta.valor }}</p>
        </div>

        <div class="row">
          <button class="btn btn-outline-success" [routerLink]="['/oferta', oferta.id]">Ver oferta</button>
        </div>
      </div>
    </div>
    <hr />
  </div>
  <br>
</div>
